.App {
font-family: sans-serif;
background-color: #0d1116;
color: white;
margin-top: -100px;
min-height: 100vh;
height: fit-content;
padding-bottom: 100px;
/* box-sizing: border-box; */
}


.title{
    margin-top: 100px;
    margin-left: 100px; 
    font-size: 23px;
}

.react-tabs {
    display: flex;
    margin-top: 10px;
    /* height: 500px; */
    border: 1px solid #3c3e43;
    border-radius: 10px;
    color: white;
    background: #1c1d1f;
    margin-left: 100px;
    margin-right: 100px;
    overflow: auto;
  }
/* .react-tabs {
display: flex;

margin-top: 10px;
width: 90%;
height: 500px;
border: 1px solid #3c3e43;
border-radius: 10px;
color: white;
background: #1c1d1f;
margin-left: 150px;
margin-right: 150px;

} */


.react-tabs__tab-list {
display: flex;
flex-direction: column;
width: 200px;
margin-top: 0;
padding: 0;
color: white;
/* background: #3c3e43; */
font-size: 18px;
/* border:100px #0d1116; */
min-height: 60vh;
}

.react-tabs__tab {
height: 50px;
list-style: none;
padding: 12px 6px;
cursor: pointer;
color: #fff;
border-radius: 10px;

&:hover{
    cursor: pointer;
    background-color: #4e4e54;
}
}

.react-tabs__tab--selected {
background: #3c3e43;
/* border-color: #1c1d1f; */
border-left: 7px solid #238636;
color: white;
&:hover{
    cursor: pointer;
    background-color: #4e4e54;
}
}

.react-tabs__tab-panel {
display: none;
/* width: 80%; */
flex-grow: 1;
/* margin-left: 20px; */

}

.react-tabs__tab-panel--selected {
display: flex;
/* margin-left: 20px; */
flex-grow: 1;
}

.react-tabs__tab {
padding-left: 24px;
}

.react-tabs__tab--selected {
padding-left: 21px;
}


.panel-content {
/* text-align: center; */
font-size: 17px;
margin-left: 55px;
}


.panel-content_password h4 {
    font-size: 17px;
}




.panel-content input {
    border-radius: 8px;
    width: 230px;
    margin-top: 8px;
    border: 1px solid green;

}

.forgot-link {
    color: #238636;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        color: #2da042;
    }
}

.panel-content button {
    font-size: 15px;
    background-color: #238636;
    border: 1px solid #2da042;
    border-radius: 8px;
    color:#fff;
    width: 60px;
    height: 30px;
    /* padding: 10px; */
    margin-top: 10px;
    outline: none;
    &:hover{
        cursor: pointer;
        background-color: #2da042;
    }
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.panel-content_password {
    font-size: 17px;
    margin-left: 50px;
    width: 260px;
}

.panel-content_password p {
    font-size: 14px;
}
.panel-content_password input {
    width: 230px;
    margin-bottom: 8px;
    border-radius: 8px;
    border: 1px solid green;

}
.saveButton {
    font-size: 17px;
    background-color: #238636;
    border: 1px solid #2da042;
    border-radius: 8px;
    color:#fff;
    width: 28ch;
    height: 35px;
    padding: 1px;
    margin-top: 10px;
    margin-bottom: 15px;
    
    outline: none;
    &:hover{
        cursor: pointer;
        background-color: #2da042;
    }
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 100px;
}

.panel-content-followers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 17px;
    margin-left: 50px;
    overflow: auto;
    /* width: 300px; */

  }
  
  .panel-content-followers h2 {
    font-size: 25px;
    margin-bottom: 20px;
    
  }
  
  .followers-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); /* Adjust the column width as needed */
    grid-gap: 20px;
    gap: 20px;
  }
  
  .followers-list div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(200, 200, 200, 0.2);
    padding-bottom: 15px;
  }
  
  .followers-list img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .followers-list p {
    font-size: 16px;
    margin-left: 10px;

  }
  .followers-list button {
    font-size: 15px;
    background-color: #238636;
    border: 1px solid #2da042;
    border-radius: 8px;
    color:#fff;
    width: 70px;
    height: 30px;
    margin-left: 40px;
    &:hover{
        cursor: pointer;
        background-color: #2da042;
    }

}
