.App {
font-family: sans-serif;
background: #1c1d1f;
color: white;
margin-top: -100px;
height: 100vh;
/* box-sizing: border-box; */
}


.title{
    margin-top: 100px;
    margin-left: 70px; 
    font-size: 20px;
}

.react-tabs {
display: flex;
margin-left: 50px;
margin-top: 10px;
width: 80%;
height: 500px;
/* border: 1px solid #3c3e43; */
color: white;
background: #1c1d1f;
}

.react-tabs__tab-list {
display: flex;
flex-direction: column;
width: 170px;
margin-top: 0;
padding: 0;
color: white;
background: #3c3e43;
}

.react-tabs__tab {
height: 50px;
list-style: none;
padding: 12px 6px;
cursor: pointer;
color: #bbb;
&:hover{
    cursor: pointer;
    background-color: #232326;
}
}

.react-tabs__tab--selected {
background: #1c1d1f;
/* border-color: #1c1d1f; */
border-left: 7px solid #238636;
color: white;
&:hover{
    cursor: pointer;
    background-color: #232326;
}
}

.react-tabs__tab-panel {
display: none;
width: 400px;
margin-left: 50px;
}

.react-tabs__tab-panel--selected {
display: flex;
}

.react-tabs__tab {
padding-left: 24px;
}

.react-tabs__tab--selected {
padding-left: 21px;
}


.panel-content {
/* text-align: center; */
font-size: 17px;
}

.panel-content input {
    font-size: 14px;
    color:#fff;
    align-items: center;
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 5px;
    border: 1px solid #238636;
    padding: 5px 10px;
    line-height: 1.5;
}

.forgot-link {
    color: #238636;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        color: #2da042;
    }
}

.panel-content button {
    font-size: 14px;
    background-color: #238636;
    border: 1px solid #2da042;
    border-radius: 8px;
    color:#fff;
    width: fit-content;
    height: 30px;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    &:hover{
        cursor: pointer;
        background-color: #2da042;
    }
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.panel-content_password {
    font-size: 17px;
}



.title img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 100px;
}
