.App {
font-family: sans-serif;
background-color: #0d1116;
color: white;
margin-top: -100px;
height: 100vh;
/* box-sizing: border-box; */
}



.title{
    margin-top: 100px;
    margin-left: 150px; 
    font-size: 20px;
}

.react-tabs {
display: flex;

margin-top: 10px;
/* width: 90%; */
height: 500px;
border: 1px solid #3c3e43;
border-radius: 10px;
color: white;
background: #1c1d1f;
margin-left: 150px;
margin-right: 150px;

}

.react-tabs__tab-list {
display: flex;
flex-direction: column;
width: 200px;
margin-top: 0;
padding: 0;
color: white;
/* background: #3c3e43; */
font-size: 18px;
/* border:100px #0d1116; */
}

.react-tabs__tab {
height: 50px;
list-style: none;
padding: 12px 6px;
cursor: pointer;
color: #fff;
border-radius: 10px;

&:hover{
    cursor: pointer;
    background-color: #4e4e54;
}
}

.react-tabs__tab--selected {
background: #3c3e43;
/* border-color: #1c1d1f; */
border-left: 7px solid #238636;
color: white;
&:hover{
    cursor: pointer;
    background-color: #4e4e54;
}
}

.react-tabs__tab-panel {
display: none;
width: 80%;
margin-left: 20px;
border-radius: 0px 10px 10px 0px;
border: 1px solid #3c3e43;
}

.react-tabs__tab-panel--selected {
display: flex;
margin-left: 10px;

}

.react-tabs__tab {
padding-left: 24px;
}

.react-tabs__tab--selected {
padding-left: 21px;
}


.panel-content {
/* text-align: center; */
font-size: 17px;
margin-left: 50px;
}


.panel-content_password h4 {
    font-size: 17px;
}



.panel-content input {
    font-size: 15px;
    color:#fff;
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 5px;
    width: 35ch;
    height: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 10px;
}

.forgot-link {
    color: #238636;
    text-decoration: none;
    &:hover{
        cursor: pointer;
        color: #2da042;
    }
}

.panel-content button {
    font-size: 15px;
    background-color: #238636;
    border: 1px solid #2da042;
    border-radius: 8px;
    color:#fff;
    width: 60px;
    height: 30px;
    /* padding: 10px; */
    margin-top: 10px;
    outline: none;
    &:hover{
        cursor: pointer;
        background-color: #2da042;
    }
    margin-left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.panel-content_password {
    /* margin-left: 250px; */
    font-size: 17px;
    margin-left: 50px;

}
.saveButton {
    font-size: 17px;
    background-color: #238636;
    border: 1px solid #2da042;
    border-radius: 8px;
    color:#fff;
    width: 40ch;
    height: 35px;
    padding: 1px;
    margin-top: 10px;
    outline: none;
    &:hover{
        cursor: pointer;
        background-color: #2da042;
    }
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 100px;
}
